.label {
  position: relative;
  display: block;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 50%;

  .corner {
    margin: 0;
    padding: 0;
    background: rgba(#000, .4);

    .left, .right {
      display: inline-block;
      width: 50%;
      height: calc(#{$label-height / 2} - 1px);
    }

    .left {
      float: left;
      clear: left;
    }

    .right {
      float: right;
      clear: right;
    }

    &.top {
      .left {
        shape-outside: radial-gradient(circle at bottom right, transparent $shape-rounding, red $shape-rounding);
      }

      .right {
        shape-outside: radial-gradient(circle at bottom left, transparent $shape-rounding, red $shape-rounding);
      }
    }

    &.bottom {
      .left {
        shape-outside: radial-gradient(circle at top right, transparent $shape-rounding, red $shape-rounding);
      }

      .right {
        shape-outside: radial-gradient(circle at top left, transparent $shape-rounding, red $shape-rounding);
      }
    }
  }
}

.label-content {
  display: block;
  position: relative;
  height: 100%;
}