html {
  display: flex;
  width: $label-width;
  height: $label-height;
  //margin: 0 auto;
  //padding: 5em 0;
}

body {
  font-size: 150%;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
}