.content-wrapper {
  padding-top: 20%;
}

.content-foot {
  padding: 0 1em;

  .info {
    font-size: 95%;
    margin: 0;
    line-height: 16px;

    &.manufacturer {
      font-size: 87.5%;
    }

    span {
      display: block;
    }

    strong {
      font-size: 130%;
    }
  }
}

.text {
  font-size: 1em;
  padding: 0 1em;
  margin: 0 0 1em 0;
  text-align: justify;
  line-height: 1em;

  small {
    display: block;
    margin-top: .5em;
  }
}